.cache
.vscode
*.tar
build/
compile_commands.json
.DS_Store
Thumbs.db
*.o
*.obj
*.bin
components/lithoui/generated/res_images.bin
components/lithoui/dump/
components/lithoui/ui/*/fonts/fontpath.txt
__pycache__/
.claude/
